<%= render_card class: 'w-full lg:w-[50%] p-6 text-center' do %>
  <label class='text-lg text-primary font-bold tracking-tight'>Average Transactions per Day</label>
  <%= column_chart @transactions.group_by_day(:created_at, format: "%a").count, 
    xtitle: 'Day of the Week', 
    ytitle: 'Average Count', 
    empty: 'No transactions data', 
    colors: ['#d94545'] %>
<% end %>
