<% features = [
  { label: 'Total Count', value: @transactions_count },
  { label: 'Total Buys', value: @buy_count },
  { label: 'Total Sells', value: @sell_count}
] %>

<%= render_card class: 'w-full lg:w-[33%] min-w-[450px]' do %>
  <div class='flex flex-col gap-4 p-6'>
    <div class='grid grid-cols-3'>
      <% features.each do |feature| %>
        <%= render partial: 'components/text/featured_number',
          locals: { label: feature[:label], value: feature[:value] } %>
      <% end %>
    </div>
    <div>
      <%# TODO: Add 'value' to transactions model in order to calculate for volume' %>
      <%= render partial: 'components/text/featured_number',
        locals: { label: 'Total Volume', value: number_to_currency(@purchases_volume) } %>
    </div>
    <div>
      <%= render partial: 'chart_transactions_type', collections: @purchases %> 
    </div>
  </div>
<% end %>
