<% features = [
  { label: 'Total Count', value: @users_count },
  { label: 'Approved Users', value: @approved_users_count },
  { label: 'Pending Users', value: @pending_users_count }
] %>

<%= render_card class: 'w-full lg:w-[33%] min-w-[450px]' do %>
  <div class='flex flex-col gap-4 p-6'>
    <div class='grid grid-cols-3'>
      <% features.each do |feature| %>
        <%= render partial: 'components/text/featured_number',
          locals: { label: feature[:label], value: feature[:value] } %>
      <% end %>
    </div>
    <div>
      <%= render partial: 'chart_users_status', collections: @users %>
    </div>
  </div>
<% end %>
