<div class="preview flex w-full items-start p-4">
  <div class="w-full flex items-center space-x-4">
    <div class="animate-pulse bg-muted h-12 w-12 rounded-full"></div>
    <div class="w-full space-y-2">
      <div class="animate-pulse rounded-md bg-muted h-4 w-full"></div>
      <div class="animate-pulse rounded-md bg-muted h-4 w-1/2"></div>
    </div>
  </div>
</div>
