<div class='h-6 w-6 rounded-md ring-1 ring-muted-foreground/50 text-center'>
  <% unless current_page.last? %>
    <%= link_to url, remote: remote do %>
      <i class='fa fa-angle-double-right' aria-hidden='true'></i>
    <% end %>
  <% end %>
</div>
