<div class="hidden lg:flex lg:gap-x-12 items-center text-muted-foreground">
  <%= render 'components/navbar/shared_buttons' %>
  <% links.each do |link| %>
    <% active_link = (request.path == link[:path]) ? "text-foreground" : "" %>
    <%= link_to link[:name], link[:path], class:  active_link %>
  <% end %>
  <%= render 'components/navbar/nav_account_menu' %>
</div>
