<%= render_separator %>
<ul class="w-full flex justify-start items-end gap-4">
  <li class="font-semibold text-2xl">Avion</li>
  <li class="text-muted-foreground">Help</li>
  <li class="text-muted-foreground">Send Feedback</li>
  <li class="text-muted-foreground">Privacy</li>
  <li class="text-muted-foreground">Terms</li>
  <li class="text-muted-foreground">Disclaimer</li>
<ul>