<% filters = [
  { name: 'All' },
  { name: 'Pending', filter: 'pending' },
  { name: 'Approved', filter: 'approved' },
  { name: 'Admins', filter: 'admins' },
  { name: 'Standards', filter: 'standards' }
] %>

<div class='flex flex-row gap-4 w-full'>
  <% filters.each do |link| %>
    <%= render_button link[:name], 
      as: :link, 
      href: admin_users_tables_path(filter: link[:filter]),
      variant: :outline,
      class: 'rounded-3xl w-24 text-xs',
      data: { turbo_frame: :users_tables }
    %>
  <% end %>
</div>
