<% filters = [
  { name: 'All' },
  { name: 'Pending', filter: 'pending' },
  { name: 'Approved', filter: 'approved' },
  { name: 'Admins', filter: 'admins' },
  { name: 'Standards', filter: 'standards' }
] %>

<div class='flex flex-row gap-4 w-full min-w-[350px] overflow-auto'>
  <% filters.each do |link| %>
    <%= render_button link[:name], 
      as: :link, 
      href: users_lists_path(filter: link[:filter]),
      variant: :outline,
      class: 'h-fit w-fit text-xs px-4 py-1.5 rounded-full',
      data: { turbo_frame: :users_table }
    %>
  <% end %>
</div>
