<% filters = [
  { name: 'All', path: admin_user_path(@user)},
  { name: 'Buy', path: admin_user_path(@user, transaction_type: 'buy') },
  { name: 'Sell', path: admin_user_path(@user, transaction_type: 'sell') }] %>

<ul class="flex flex-row gap-2 px-4">
  <% filters.each do |filter| %>
    <li class='flex flex-row gap-2 flex-nowrap'>
      <%= link_to filter[:path],
        data: { turbo_frame: 'market_trends_frame', controller: 'update-link-appearance' }, 
        class: "min-w-24 border rounded-full py-2 px-4 text-center text-sm truncate" do %>
        <%= filter[:name] %>
      <% end %>
    </li>
  <% end %> 
</ul>

