<div class="flex flex-col h-full w-full gap-4 p-6">
  <div>
    <%= link_to admin_users_path, class: "text-muted-foreground" do %>
      <i class="fa fa-arrow-left"></i>
      <span>Back</span>
    <% end %>
  </div>
  <%= render 'user_details', collection: @user %>
  <%= render 'user_transactions', collection: @transactions %>
</div>
