<div class="flex items-center justify-center p-2" data-controller="transaction-form">
    <div class="p-2">
      <% if transaction_type == 'buy' || transaction_type == 'sell' %>
        <%= render partial: 'transactions/form_for_buy_or_sell',
                   locals: { transaction: transaction, transaction_type: transaction_type, stock: stock } %>
      <% elsif transaction_type == 'deposit' || transaction_type == 'withdraw' %>
        <%= render partial: 'transactions/form_for_deposit_or_withdraw',
                   locals: { transaction: transaction, transaction_type: transaction_type } %>
      <% end %>
    </div>
</div>