<%= link_to root_path, class: "p-4" do %>
    <i class="fa fa-arrow-left"></i>
<% end %>

<div class="flex justify-between">
  <%= render 'stocks_search/form' %>
  <%= render "form", transaction: @transaction, items: @stocks %>
</div>
