<% if details.nil? || details.empty? %>
  <p class='text-sm text-center text-muted-foreground font-bold mt-4'>No stock selected</p>
<% else %>
  <%= line_chart chart_data,
    id: 'stock-chart',
    xtitle: 'Date',
    ytitle: 'Close Price',
    discrete: true,
    points: false
  %>
  <%= details %>
<% end %> 
